
@media(min-width:0rem) { 
  /* header */
  .hero-head-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid rgba(74, 68, 68, 0.628);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px rgba(18, 2, 2, 0.566);
  }

  .chat-input {
    flex-grow: 1;
  }

  /* main */
  .hero-chatmssg-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width:none;
  }

  .chatMsg-container-user {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .chatMsg-container-bot {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
  }

  .chatMsg-container-user, .chatMsg-container-bot {
    gap: 0.5rem;
    max-width: 25rem;
  }

  .chat-message {
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    text-align: start;
    background-color: rgba(128, 128, 128, 0.396);  
  }

  .chat-image {
    height: 3rem;
    box-shadow: 0px 0px 10px rgba(18, 2, 2, 0.733);
    border-radius: 2rem;
  }
}

@media(min-width:425px){
  .hero-head-container {
    flex-direction: row;    
  }
}

@media(min-width:768px){
}

@media(min-width:1024px){
}

@media(min-width:1440px){
}

@media(min-width:2560px){
}