
@media(min-width:0rem) { 
  .chat-message {
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    text-align: start;
    background-color: rgba(128, 128, 128, 0.248);  
  }
}