
@media(min-width:0rem) { 

  .chatMsg-container-user {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .chatMsg-container-bot {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
  }

  .chatMsg-container-user, .chatMsg-container-bot {
    gap: 0.5rem;
    max-width: 25rem;
  }

  .chat-image {
    height: 3rem;
    box-shadow: 0px 0px 10px rgba(18, 2, 2, 0.733);
    border-radius: 2rem;
  }

  .loading-image {
    height: 2rem;
    background-color: none;
  }

  .mssg-time-user {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    margin-top: 0.2rem;
    display: flex;
    justify-content: end;
  }

  .mssg-time-bot {
    color: rgb(47, 46, 46);
    font-size: 0.8rem;
    margin-top: 0.2rem;
    display: flex;
    justify-content: end;
  } 
}