
@media(min-width:0rem) { 
  .chat-message-user {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(25, 135, 84);  
    color: white;
  }

  .chat-message-bot {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(113, 108, 108, 0.262);  
    color: rgb(13, 12, 12);
  }

}