
@media(min-width:0rem) { 
  /* header */
  .app-cont { 
    display: flex;

  }
  .hero-head-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border: 1px solid rgba(74, 68, 68, 0.628);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px rgba(18, 2, 2, 0.29);
  }

  /* main */
  .hero-chatmssg-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width:none;
  }
}

@media(min-width:425px){
}

@media(min-width:625px){
  .hero-head-container {
    flex-direction: row;    
  }
}

@media(min-width:768px){
}

@media(min-width:1024px){
}

@media(min-width:1440px){
}

@media(min-width:2560px){
}