* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: calc(1em + 0.5rem);
}

body {
  display: flex;
  justify-content: center;
  margin: 1rem;
  overflow: hidden; 
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  width: 100%;
  height: calc(100dvh - 2rem);
}

input {
  border: 0;
  outline: 0;
  background-color: rgba(128, 128, 128, 0.117);
  border-radius: 1.5rem;
  padding: 0.6rem 1rem;
  transition: transform 0.1s ease , background-color 0.1s ease;
}
input:hover {
  transform: scale(1.01);
  background-color: rgba(128, 128, 128, 0.176);
}

button {
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease , background-color 0.1s ease;
}
button:hover {
  transform: scale(1.02);
}
button:active {
  transform: scale(0.9);
}

@media (hover: none) {
  button:hover {
    transform: none;
  }
  input:hover {
    transform: none;
  }
}